*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
}

body{
	background-color: #000;
}

.slideshow{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slideshow-item{
	width: inherit;
	height: inherit;
	position: absolute;
}

.slideshow-item .pics{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	
}

.slideshow-item-text{
	max-width: 50%;
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0,.8);
	color: #fff;
	padding: 10rem 5rem;
}

.slideshow-item-text h5{
	font-size: 5rem;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 2.5rem;
}

.slideshow-item-text p{
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
}
li{
	list-style: none;
	display: inline-block;
	font-size: 30px;
	margin: 5px;

}

.me{
	width: 150px;
	clip-path: circle();
}

button{
  width: 20%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
button:hover{
  border-color: #2691d9;
  transition: .5s;
}
form{
  margin: 30px 0;
}
input {
	width: 55%;
  padding: 4px;
  font-size: 16px;
  margin-bottom: 4px;
}

textarea {
  width: 65%;
  padding: 5px;
  font-size: 16px;
  height: 140px;
  margin-bottom: 10px;
}

.arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	width: 0;
	height: 0;
	border-style: solid;
}

#arrow-left {
	border-width: 30px 40px 30px 0;
	border-color: transparent #fff transparent transparent;
	left: 0;
	margin-left: 30px;
}

#arrow-right {
	border-width: 30px 0px 30px 40px;
	border-color: transparent transparent transparent #fff;
	right: 0;
	margin-right: 30px;
}


@media screen and (max-width:  1000px) {
	.slideshow-item-text{
		max-width: 70%;
		padding: 5rem 1rem;
	}

	.slideshow-item-text h5{
		font-size: 4rem;
	}
}

@media screen and (max-width:  767px) {
	.slideshow-item-text{
		max-width: 100%;
		padding: 2rem;
		top: initial;
		bottom: 0;
		transform: initial;
	}

	.slideshow-item-text h5{
		font-size: 3rem;
	}
	.slideshow-item-text p{
		font-size: 1.4rem;
	}
}